body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #f5f8f9;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  display: grid;
  height: 100vh;
  background-color: #f5f8f9;
  justify-content: center;
  align-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 720px;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}
.textbox {
  position: relative;
  margin: 44px 0px 42px 56px;
}
.form {
  position: relative;
  margin-left: 56px;
  height: 100%;
}

.signup_greet {
  font-weight: 500;
  font-size: 26px;
  letter-spacing: -0.06em;
}
label {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: -0.06em;
  margin-bottom: 6px;
  color: #ff6767;
  &.password_label::after {
    color: #000;
    content: "를 입력해주세요";
  }
  &.passwordC_label::after {
    color: #000;
    content: "를 다시 입력해주세요";
  }
  &::after {
    color: #000;
    content: "을 입력해주세요";
  }
}
input {
  border: none;
  background: none;
  height: 30px;
  width: 400px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 500;
  &::placeholder {
    font-weight: 500;
    font-size: 20px;
    color: #c2c2c2;
  }
  &:focus {
    outline: none;
  }
}
.submit {
  border: none;
  position: absolute;
  right: 40px;
  bottom: 28px;
  text-align: right;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.01em;
  outline: none;
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}
.back {
  position: relative;
  display: block;
  bottom: 54px;
  left: 56px;
  width: 120px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.06em;
  color: #000;
  text-decoration: none;
  &:visited {
    color: #000;
  }
}
